<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-relax5project" >
	<tr>
		<td>
			<f:translate key="tx_relax5project_domain_model_statepool.name" />
		</td>
		<td>
          {statePool.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5project_domain_model_statepool.description" />
		</td>
		<td>
          {statePool.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5project_domain_model_statepool.subgroup" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5project_domain_model_statepool.style" />
		</td>
		<td>
          <div style="{statePool.style}">
            {statePool.style}
          </div>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5project_domain_model_statepool.noshow_dashboard" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5project_domain_model_statepool.color_primary" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>