
<label>
    <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_appointment.next_action" />
</label>

<div>
  <f:for each="{1:1,2:2,3:3,4:4,5:5,6:6}" as="index">
    <span nextactionelement="{index}">
      <f:form.radio id="nextAction_{index}" name="tx_relax5project_project[appointment][nextAction]" checked="{appointment.nextAction}" value="{index}" />
      <label for="nextAction_{index}" class="rlx5-min" style="font-weight: normal; line-height: normal;">
        <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_appointment.next_action.{index}" />
      </label>
      <br />
    </span>
  </f:for>
</div>
