{namespace r5f=CGB\Relax5validator\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="rlx5-modalform-stretcher" style="height: 0; min-width: 500px;"></div>  
  
<!-- 1: country | zip | city -->
<span class="rlx5-span-as-label">
  <label for="country" class="rlx5-min">
    <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.country" />
  </label> 
  | 
  <label for="zip" class="rlx5-min">
    <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.zip" />
  </label>
  |
  <label for="city" class="rlx5-min">
    <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.city" />
  </label>
</span>

<r5f:form.textfield 
  name="data[address_country]" 
  value="{address.country}" 
  id="country" 
  class="rlx5-inputmin rlx5-10 geocode-on-blur" 
  validatorContext="{validatorContext}" 
  additionalAttributes="{
    errorproperty: 'data.data[address_country]',
    data-autocomplete-id:'country'
  }"
/>

<r5f:form.textfield 
  value="{address.zip}" 
  name="data[address_zip]" 
  id="zip" 
  class="rlx5-inputmin rlx5-20 geocode-on-blur" 
  validatorContext="{validatorContext}" 
  additionalAttributes="{
    errorproperty: 'data.data[address_zip]',
    data-autocomplete: 1, 
    data-autocomplete-id: 'zip',
    data-autocomplete-condition: 'countryCode equals country;zip like TERM',
    data-autocomplete-repository: 'CGB\Relax5core\Domain\Repository\ZipCatalogueRepository',
    data-autocomplete-findmethod: 'findByZip',
    data-autocomplete-select: '#city=city;#state=state',
    data-autocomplete-uri: '{h:uri.ajaxAction(extensionName: \\'Relax5core\\',controller: \\'Address\\',pluginName: \\'Core\\', action: \\'autocomplete\\')}'
  }"
/>

<r5f:form.textfield 
  value="{address.city}" 
  name="data[address_city]" 
  id="city" 
  class="rlx5-inputmin rlx5-30 geocode-on-blur" 
  validatorContext="{validatorContext}" 
  additionalAttributes="{
    errorproperty: 'data.data[address_city]',
    data-autocomplete: 1, 
    data-autocomplete-id: 'city',
    data-autocomplete-condition: 'countryCode equals country;city like TERM',
    data-autocomplete-repository: 'CGB\Relax5core\Domain\Repository\ZipCatalogueRepository',
    data-autocomplete-findmethod: 'findByCity',
    data-autocomplete-select: '#state=state;#zip=zip',
    data-autocomplete-uri: '{h:uri.ajaxAction(extensionName: \\'Relax5core\\',controller: \\'Address\\',pluginName: \\'Core\\', action: \\'autocomplete\\')}'
  }"
/>

<br />

<!-- 2: address | number | number_additions -->
<span class="rlx5-span-as-label">
  <label for="address" class="rlx5-min">
    <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.address" />
  </label>
  | 
  <label for="number" class="rlx5-min">
    <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.number" />
  </label>
  | 
  <label for="numberAdditions" class="rlx5-min">
    <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.number_additions" />
  </label>
</span>

<r5f:form.textfield 
  value="{address.address}" 
  name="data[address_address]" 
  id="address" 
  class="rlx5-inputmin rlx5-40 geocode-on-blur" 
  validatorContext="{validatorContext}" 
  additionalAttributes="{
    errorproperty: 'data.data[address_address]',
    data-autocomplete: 1, 
    data-autocomplete-id:'address'
    data-autocomplete-condition: 'countryCode equals country;zip equals zip;address like TERM',
    data-autocomplete-repository: 'CGB\Relax5core\Domain\Repository\AddressCatalogueRepository',
    data-autocomplete-findmethod: 'findByCountryAndZip',
    data-autocomplete-select: '#address=label',
    data-autocomplete-uri: '{h:uri.ajaxAction(extensionName: \\'Relax5core\\',controller: \\'Address\\',pluginName: \\'Core\\', action: \\'autocomplete\\')}'
  }"
/>

<r5f:form.textfield 
  value="{address.number}" 
  name="data[address_number]" 
  id="number" 
  class="rlx5-inputmin rlx5-10 geocode-on-blur" 
  validatorContext="{validatorContext}" 
  additionalAttributes="{
    errorproperty: 'data.data[address_number]'
  }"
/>

<r5f:form.textfield 
  value="{address.numberAdditions}" 
  name="data[address_numberAdditions]" 
  id="numberAdditions" 
  class="rlx5-inputmin rlx5-10" 
  validatorContext="{validatorContext}" 
  additionalAttributes="{
    errorproperty: 'data.data[address_numberAdditions]'
  }"
/>
<br />

<!-- 3: state -->
<label for="state">
    <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.state" />
</label>
<r5f:form.textfield value="{address.state}" name="data[address_state]" id="state" validatorContext="{validatorContext}" /><br />

<!-- 6a: geo_only -->
<label for="geoOnly">
  <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.geo_only" />
</label>
<f:form.checkbox id="geoOnly" name="data[address_geoOnly]" value="1" checked="{address.geoOnly}" /><br />

<label for="lat">
	<f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.lat" />
</label>
<r5f:form.textfield 
  id="lat" 
  name="data[address_lat]" 
  value="{address.lat}" 
  validatorContext="{validatorContext}" 
  class="rlx5-inputmin rlx5-30" 
  additionalAttributes="{
    errorproperty: 'data.data[address_lat]'
  }"
/>

<f:form.textfield 
  value="{address.lat}" 
  class="rlx5-20" 
  disabled="disabled" 
  style="font-style: italic; font-size: 90%; border: none; background: transparent;" 
/><br />

<label for="lon">
	<f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.lon" />
</label>
<r5f:form.textfield 
  id="lon" 
  name="data[address_lon]" 
  value="{address.lon}" 
  validatorContext="{validatorContext}"  
  class="rlx5-inputmin rlx5-30" 
  additionalAttributes="{
    errorproperty: 'data.data[address_lon]'
  }"
/>
<f:form.textfield 
  value="{address.lon}" 
  class="rlx5-20" 
  disabled="disabled" 
  style="font-style: italic; font-size: 90%; border: none; background: transparent;" 
/><br />

<!-- 9: map -->
<div id="map" class="googlemap" style="width: 100%; height: 300px; border: 1px solid #a9a9a9; padding: 2px; margin-bottom: .5em; "></div>

<label for="description">
	<f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.description" />
</label>
<r5f:form.textfield 
  value="{address.description}" 
  name="data[address_description]" 
  id="description" 
  validatorContext="{validatorContext}" 
  additionalAttributes="{
    errorproperty: 'data.data[address_description]'
  }"
  
/><br />

<div class="rlx5-divider"></div>

<script>
  $(document).ready(function() {
    activateMap();
    activateAutocomplete();
  });
</script>

</html>