{namespace h=Helhum\TyposcriptRendering\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace a=CGB\Accessmanager\ViewHelpers}

<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

  <f:section name="main">
    <div class="rlx5-message-container">
      <f:flashMessages />
      <f:render partial="FormErrors" arguments="{object:Project}" />
    </div>

    <f:form action="update" enctype="multipart/form-data" name="project" object="{project}" class="rlx5-form" 
      additionalAttributes="{data-ajax-uri: '{h:uri.ajaxAction(extensionName: \\'Relax5project\\',controller: \\'Project\\',pluginName: \\'Project\\', action: \\'update\\')}'}">
      
      <div class="rlx5-modalform-stretcher" style="height: 0; min-width: 500px;"></div>  
      
      <f:render partial="Project/FormFields" arguments="{_all}" />
      
      <div id="rlx5project-tabs">
        <ul>
          <li><a href="#rlx5project-data"><span><f:translate key="tx_relax5project_domain_model_project.general_data" /></span></a></li>
          <li><a href="#rlx5project-detail"><span><f:translate key="tx_relax5project_domain_model_project.product_data" /></span></a></li>
          <li><a href="#rlx5project-cost"><span><f:translate key="tx_relax5project_domain_model_project.cost" /></span></a></li>
        </ul>
        <div id="rlx5project-data">
          <f:render partial="Project/ProjectData" arguments="{_all}" />
        </div>
        
        <div id="rlx5project-detail">
          <f:render partial="Project/ProductData" arguments="{_all}" />
        </div>
        
        <div id="rlx5project-cost">
          <f:render partial="Project/CostData" arguments="{_all}" />
        </div>
      </div>
    </f:form>
    
    <p class="footnote">docref: EXT:relax5project/Resources/Private/Templates/Project/Edit.html v8.7</p>
    
    <!-- works only within modal dialog window -->
    <script type="text/javascript">
      <f:format.cdata>
        $(document).ready(function() {
          $( "#rlx5project-tabs" ).tabs();
          activateCollapser('.rlx5-collapser', '.rlx5-form', true);
          showErrors();
          activateJte('.rlx5-jte', '.rlx5-form');
          activateComputeRights();
        });
      </f:format.cdata>
    </script>
    
    
  </f:section>
