<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="infoKey">
	<f:translate key="tx_relax5project_domain_model_additionalinfo.info_key" />
</label><br />
	<f:form.textfield property="infoKey" /><br />
<label for="infoLabel">
	<f:translate key="tx_relax5project_domain_model_additionalinfo.info_label" />
</label><br />
	<f:form.textfield property="infoLabel" /><br />
<label for="infoValue">
	<f:translate key="tx_relax5project_domain_model_additionalinfo.info_value" />
</label><br />
	<f:form.textfield property="infoValue" /><br />
</html>