<!-- docref BEGIN: EXT:relax5project/Resources/Private/Partials/Project/ShowProjectData.html v8.7 -->
<!-- rev: 2017-07-25 -->

<div class="rlx5-item-project-data rlx5-{itemtype} rlx5-core-data-box">
  <table class="tx-relax5project">
    <tr>
      <td><f:translate key="tx_relax5project_domain_model_project.name" /></td>
      <td>{project.name}</td>
    </tr>
    <tr>
      <td><f:translate key="tx_relax5project_domain_model_project.description" /></td>
      <td><f:format.html>{project.description}</f:format.html></td>
    </tr>
    <tr>
      <td><f:translate key="tx_relax5project_domain_model_project.time_horizon" /></td>
      <td>{project.timeHorizon}</td>
    </tr>
    <tr>
      <td><f:translate key="tx_relax5project_domain_model_project.operative_start" /></td>
      <td>
        {project.operativeStart -> f:format.date(format: '{f:translate(key: \'LLL:EXT:relax5core/Resources/Private/Language/locallang.xml:tx_relax5core_general.date_format\')}')}
        <f:if condition="{project.operativeStartLatest}">
          &#150;
        </f:if>  
        {project.operativeStartLatest -> f:format.date(format: '{f:translate(key: \'LLL:EXT:relax5core/Resources/Private/Language/locallang.xml:tx_relax5core_general.date_format\')}')}
      </td>
    </tr>
    <tr>
      <td><f:translate key="tx_relax5project_domain_model_project.operative_end" /></td>
      <td>{project.operativeEnd -> f:format.date(format: '{f:translate(key: \'LLL:EXT:relax5core/Resources/Private/Language/locallang.xml:tx_relax5core_general.date_format\')}')}</td>
    </tr>
    <tr>
      <td><f:translate key="tx_relax5project_domain_model_project.target" /></td>
      <td class="rlx5-r" style="padding-right: 50%">{project.target->f:format.currency()}</td>
    </tr>
    <tr>
      <td><f:translate key="tx_relax5project_domain_model_project.actual" /></td>
      <td class="rlx5-r" style="padding-right: 50%">{project.actual->f:format.currency()}</td>
    </tr>
    <tr>
      <td><f:translate key="tx_relax5project_domain_model_project.address" /></td>
      <td>
        <div class="rlx5-item-project-addresses rlx5-project rlx5-core-data-box {f:if(condition: '{project.address}',then:'rlx5-ispopulated',else:'rlx5-isempty')}">
          <div id="projectaddress" class="rlx5-coredata-block">
            <div id="address_{project.address.uid}" class="rlx5-address" uid="{project.address.uid}">
              <f:render partial="Address/ShowOneAddress" arguments="{address:project.address}" />
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
      </td>
    </tr>
  </table>
  
  <f:link.action 
    class="ui-button button"
    target="_new"
    pageType="9997"
    controller="Project"
    action="print"
    arguments="{project:project, mode:'print'}"
    onclick="window.open($(this).attr('href'),'{project.uid}','width=600,height=400');return false;"
    >
    <f:image src="EXT:relax5core/Resources/Public/Icons/print.png" alt="" />  
  </f:link.action>

  <f:link.action 
    class="ui-button button"
    target="_new"
    pageType="9997"
    controller="Project"
    action="print"
    arguments="{project:project, mode:'nav'}"
    onclick="window.open($(this).attr('href'),'{project.uid}','width=600,height=400');return false;"
    >
    <f:image src="EXT:relax5core/Resources/Public/Icons/windrose.gif" alt="" />  
  </f:link.action>
  
</div>

<!-- docref END: EXT:relax5project/Resources/Private/Partials/Project/ShowProjectData.html v8.7 -->