body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 1em;
}

h1 {
  margin: .2em 0;
}

h2 {
  margin: .8em 0 .2em 0;
  font-size: 14pt;
  font-weight: bold;
}

table.headerdata {
  border-collapse: collapse;
  border: 1px solid #999;
  width: 50%;
}

table.full,
table.propertylist {
  border-collapse: collapse;
  border: 1px solid #999;
  width: 100%;
}

table.full tr td {
  padding: .3em .5em;  
  border: 1px solid #999;
}

table.headerdata tr td,
table.propertylist tr td {
  padding: .3em .5em;  
  border: 1px solid #999;
  width: 50%;
}

table.headerdata tr td {
  width: 20%;
  text-align: center;
}

table.propertylist tr td:first-child {
  font-style: italic;
  font-weight: bold;
  text-align: right;
}